*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
color:white;
overflow-x:hidden;
background:black;
}

h1{font-size:70px}
h2{font-size:40px}
p{font-size:20px}

#bg-video{
position:fixed;
min-width:100%;
min-height:100%;
object-fit:cover;
z-index:-2;
}

.overlay{
position:fixed;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
z-index:-1;
}

#particles-js{
position:fixed;
width:100%;
height:100%;
z-index:-3;
}

.cursor-glow{
position:fixed;
width:200px;
height:200px;
background:radial-gradient(circle, rgba(0,255,255,0.4), transparent);
border-radius:50%;
pointer-events:none;
transform:translate(-50%, -50%);
z-index:999;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 50px;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

section{
padding:100px 10%;
text-align:center;
}

.project-card{
background:rgba(255,255,255,0.1);
padding:30px;
margin:30px auto;
width:320px;
border-radius:15px;
transition:0.4s;
backdrop-filter:blur(5px);
transform-style:preserve-3d;
}

.project-card:hover{
transform:rotateY(15deg) rotateX(10deg) scale(1.05);
box-shadow:0 20px 50px rgba(0,0,0,0.6);
}

.skills{
width:60%;
margin:auto;
}

.bar{
background:#333;
height:10px;
border-radius:20px;
}

.bar span{
display:block;
height:100%;
background:#00ffff;
width:0;
animation:loadSkill 2s forwards;
}

@keyframes loadSkill{
from{width:0}
}

.terminal{
background:black;
color:#00ff00;
padding:40px;
font-family:monospace;
font-size:18px;
text-align:left;
}

.chat-btn{
position:fixed;
bottom:30px;
right:30px;
background:#00ffff;
border:none;
padding:15px 20px;
border-radius:30px;
cursor:pointer;
}

#globe{
width:100%;
height:500px;
}

.calendar{
width:80%;
margin:auto;
}
